<p id="notice"><%= notice %></p>

<h1>Questions</h1>

 <%= @questions.each do |question| %>
    <li><%= question.id %> - <%= question.content %></li>

    <%= form_for Answer.create do |f| %>
    <%= f.select(:content, [["Yes"],["No"]], {}, {:multiple => true}) %>
        <%= f.submit %>
    <% end %>
  <% end %>

<br>

<%= link_to 'New Question', new_question_path %>
