<div class="container"  data-controller="legislation">

  <div class="home-content">
   <button data-action="click->legislation#greet"><%= notice %>Thank you for your consultation on <%= @consultation.legislation.title %></button>
   <button data-action="click->legislation#toggleQuestion"><%= notice %>Thank you for your consultation on <%= @consultation.legislation.title %></button>
   <p id="notice"><%= notice %>Thank you for your consultation on <%= @consultation.legislation.title %></p>
    <p>share on facebook</p>

    <%= link_to 'Home', root_path %>
  </div>
</div>
