
<div class="container legislationshow">
  <h1 class="display-4"><%= @consultation.legislation.capitalized_title %></h1>
  <p class="lead">Este es tu espacio para darnos una última opinión. ¿Que te pareció lo que leiste? ¿Alguna idea adicional que quieras compartir?</p>

<div class="form-group feedback">
  <%= simple_form_for [@consultation, @general_feedback] do |f| %>
  <%= f.text_area :content, :rows => 5, :class => 'form-control' %>
  <%= f.submit "Terminar la consulta", :class => 'btn-primary btn-lg' %>
  <% end %>
</div>

<%= link_to 'Vuelve a la consulta', legislation_path(@consultation.legislation) %>

</div>
