<div class="align-center margin-top-20">
  <h2>¿Se te olvidó tu contraseña?</h2>
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>
    <br>
    <div class="form-inputs">
      <%= f.input :email, label: "Email:", required: true, autofocus: true %>
    </div>
    <br>
    <div class="form-actions">
      <%= f.button :submit, "Por favor enviarme instrucciones para renovar mi contraseña" %>
    </div>
  <% end %>
  <br>
  <%= render "devise/shared/links" %></div>
