<script>
  $(document).ready(function(){
    $('#reportform').on('ajax:success', function(e, data, status, xhr){
      $(console.log("Hello, Stimulus!"));
    }).on('ajax:error',function(e, xhr, status, error){
      $(console.log("Hello, Failed!"));
    });
    $("[data-toggle=popover]").popover();
  });
</script>


<p id="notice"><%= notice %></p>
<div class="container legislationshow" data-controller="legislation">

<h1 class="display-4"><%= @legislation.title %></h1>
  <div class="doc-header">
    <div class="help">
      <a data-html="true" data-toggle="popover" data-trigger="hover" title="How It Works" data-content="<%= render 'howitworks' %>" class="badge badge-warning">Help</a>
      <a href="../download_pdf" class="badge badge-primary" target="_blank">Reference Full PDF</a>
    </div>
  </div>


<div data-controller="slideshow">

  <div id="Introduction" data-target="slideshow.slide" class="slide">
   <h3>Introduction</h3>
   <div class="card-header" id="headingOne">
    <h5 class="mb-0">
      <a class="btn btn-link" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne" style="white-space: normal; text-align: left;">
        <%= render 'introduction' %>
       </a>
    </h5>
  </div>
</div>

<% @legislation.sections.each do |section| %>
<div id="<%= section.title %>" data-target="slideshow.slide" class="slide">

  <div class="section-info">
    <h3>Section <%= section.id %>: <%= section.title %></h3>
    <p>Visions <%= section.clauses.first.id %> through <%= section.clauses.last.id %> out of <%= Clause.all.count %></p>
    <p><%= section.description %></p>
  </div>

  <div id="accordion">
    <% section.clauses.each do |clause| %>

    <div class="card">

     <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <a class="btn btn-link clause" data-toggle="collapse" data-target="#collapse_<%= clause.id %>" aria-expanded="true" aria-controls="collapseOne" style="white-space: normal;">
          <h6>Vision <%= clause.id %></h6>
          <%= clause.content %>
          <% if clause.subclauses.exists? %>
          <ul>
            <% clause.subclauses.each do |subclause| %>
               <li><%= subclause.content %></li>
            <% end %>
            </ul>
          <% end %>
          <div id="supporting-content" class="row">
            <% if Metadatum.exists?(clause_id: clause.id) %>
            <%#= link_to 'more info', metadatum_path(clause), :class => "btn btn-outline-secondary", target: :_blank %>
            <!-- <button class="btn btn-outline-secondary" data-html="true" data-toggle="popover" data-trigger="hover"
            data-content="<%#= Metadatum.where(clause_id == clause.id).rationale %>">more info</button> -->
            <% end %>
            <div class="success-badges">
             <% if clause.questions[1].answers.exists?(user_id: current_user.id) %>
             <span class="badge badge-success" id="answered_badge">Answered</span>
             <% end %>
             <% if clause.questions[2].answers.exists?(user_id: current_user.id) %>
             <span class="badge badge-success" id="revised_badge">Revised</span>
             <% end %>
           </div>
         </div>
       </a>
     </h5>
   </div>

   <div id="collapse_<%= clause.id %>" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
    <div class="card-body" data-controller="slideshow">
      <% unless clause.questions[0].answers.exists?(user_id: current_user.id) %>
      <div data-target="slideshow.slide" class="slide">
        <%= clause.questions[0].content %><p>(1 = not at all, 5 = very much)</p>
        <%= form_for Answer.new, html: { id: "reportform" }, remote: true, update: { success: "response", failure: "error"} do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id  %>
        <%= f.hidden_field :question_id, :value => clause.questions[0].id  %>
        <div class="buttonspacing">
          <a data-action="slideshow#next">
            <%= f.submit '1', :name => "content", :class => 'btn-primary' %>
          </a>
          <a data-action="slideshow#next">
            <%= f.submit '2', :name => "content", :class => 'btn-primary' %>
          </a>
          <a data-action="slideshow#next">
            <%= f.submit '3', :name => "content", :class => 'btn-primary' %>
          </a>
          <a data-action="slideshow#next">
            <%= f.submit '4', :name => "content", :class => 'btn-primary' %>
          </a>
          <a data-action="slideshow#next">
            <%= f.submit '5', :name => "content", :class => 'btn-primary' %>
          </a>
        </div>
        <% end %>
      </div>
      <% end %>

      <% unless clause.questions[1].answers.exists?(user_id: current_user.id) %>
      <div data-target="slideshow.slide" class="slide">
        <%= clause.questions[1].content %><p>(1 = not at all, 5 = very much)</p>
        <%= form_for Answer.new, html: { id: "reportform" }, remote: true, update: { success: "response", failure: "error"} do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id  %>
        <%= f.hidden_field :question_id, :value => clause.questions[1].id  %>
        <div class="buttonspacing">
          <a data-action="slideshow#next slideshow#answered">
            <%= f.submit '1', :name => "content", :class => 'btn-primary' %>
          </a>
          <a data-action="slideshow#next slideshow#answered">
            <%= f.submit '2', :name => "content", :class => 'btn-primary' %>
          </a>
          <a data-action="slideshow#next slideshow#answered">
            <%= f.submit '3', :name => "content", :class => 'btn-primary' %>
          </a>
          <a data-action="slideshow#next slideshow#answered">
            <%= f.submit '4', :name => "content", :class => 'btn-primary' %>
          </a>
          <a data-action="slideshow#next slideshow#answered">
            <%= f.submit '5', :name => "content", :class => 'btn-primary' %>
          </a>
        </div>
        <% end %>
      </div>
      <% end %>

      <% unless clause.questions[2].answers.exists?(user_id: current_user.id) %>
      <div data-target="slideshow.slide" class="slide">
        <p>Would you like to provide a suggestion?</p>
        <div class=" form-group buttonspacing">
          <button data-action="slideshow#next" class="btn-primary">Yes</button>
          <button data-action="slideshow#close" class="btn-primary">No</button>
        </div>
      </div>

      <div data-target="slideshow.slide" class="slide">
        <%= clause.questions[2].content %>
        <%= form_for Answer.new, html: { id: "reportform" }, remote: true, update: { success: "response", failure: "error"} do |f| %>
        <div class="form-group">
          <%= f.hidden_field :user_id, :value => current_user.id  %>
          <%= f.hidden_field :question_id, :value => clause.questions[2].id  %>
          <%= f.text_area :content, :name => "content", required: true, :class => 'form-control', placeholder: clause.content %>
          <a data-action="slideshow#close slideshow#revised slideshow#next">
            <%= f.submit 'suggest revision', :class => 'btn-primary' %>
          </a>
        </div>
        <% end %>
      </div>
      <% end %>


    </div>
  </div>

</div>


<% end %>
</div>

</div>
<% end %>

<div class="finished row">
  <button id="continueto" class="btn-lg btn-primary" data-action="slideshow#next slideshow#scrolltop slideshow#showFinished">Continue to Sections</button>
  <button id="prevbutton" style="display: none;" class="btn-lg btn-primary" data-action="slideshow#previous slideshow#scrolltop slideshow#showFinished">Previous Section</button>
  <button id="nextbutton" style="display: none;" class="btn-lg btn-primary" data-action="slideshow#next slideshow#scrolltop slideshow#showFinished">Next Section</button>
  <%= link_to "Finish Consultation", new_consultation_general_feedback_path(@consultation), :id => 'finished', :class => 'btn-lg btn-primary', :style => 'display: none; text-decoration: none;' %>
   <div class="finished">
  </div>
</div>

</div>
