<script>
  $(document).ready(function(){
    $('#reportform').on('ajax:success', function(e, data, status, xhr){
      $(console.log("Hello, Stimulus!"));
    }).on('ajax:error',function(e, xhr, status, error){
      $(console.log("Hello, Failed!"));
    });
  });
</script>

<p id="notice"><%= notice %></p>
<div class="container legislationshow" data-controller="legislation">

    <h1 class="display-4"><%= @legislation.title %></h1>
    <p class="lead">Welcome <%= current_user.email %> to your personal consultation, we appreciate your input!</p>

<div class="consultation-panel">
<div class="row panel">
  <div class="sectionnav col-6">
    <div class="dropdown">
    <button class="btn btn-lg btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      sections
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <% @legislation.sections.each do |section| %>
        <a class="dropdown-item" data-action="click->legislation#showSection"><%= section.title %></a>
      <% end %>
    </div>
  </div>

  </div>

     <div class="finished col-6">
      <%= link_to "I am done", new_consultation_general_feedback_path(@consultation), :class => 'btn btn-primary btn-lg' %>
    </div>
</div>



  </div>



    <div class="consultation-box">
     <div id="document">
      <div id="active_section">
        <h3><%= @legislation.sections[0].title %></h3>
          <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <a class="btn btn-link" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne" style="white-space: normal; text-align: left;">
                  <%= @legislation.sections[0].clauses[0].content %>
                </a>
              </h5>
            </div>

      </div>


      <div class="onesectionnav row">
        <div class="previous_section">
          <a data-action="click->legislation#previous">previous</a>
        </div>
        <div class="next_section">
          <a data-action="click->legislation#next">next</a>
        </div>
      </div>

        <% @legislation.sections.each do |section| %>
        <div data-target="legislation.slide" class="slide">

        <div id="<%= section.title %>" style="display: none;">
          <h3><%= section.title %></h3>

          <div id="accordion" class="">
            <% section.clauses.each do |clause| %>
            <div class="card">

             <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <a class="btn btn-link clause" data-toggle="collapse" data-target="#collapse_<%= clause.id %>" aria-expanded="true" aria-controls="collapseOne" style="white-space: normal;">
                  <strong><%= clause.id - 1 %></strong> <%= clause.content %>
                </a>
              </h5>
            </div>



            <div id="collapse_<%= clause.id %>" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body" data-controller="slideshow">

                <div data-target="slideshow.slide" class="slide">
                  <%= clause.questions[0].content %>
                  <%= form_for Answer.new, html: { id: "reportform" }, remote: true, update: { success: "response", failure: "error"} do |f| %>
                  <%= f.hidden_field :user_id, :value => current_user.id  %>
                  <%= f.hidden_field :question_id, :value => clause.questions[0].id  %>
                  <div class="buttonspacing">
                    <a data-action="slideshow#next"><%= f.submit '1', :class => 'btn-primary' %></a>
                    <a data-action="slideshow#next"><%= f.submit '2', :class => 'btn-primary' %></a>
                    <a data-action="slideshow#next"><%= f.submit '3', :class => 'btn-primary' %></a>
                    <a data-action="slideshow#next"><%= f.submit '4', :class => 'btn-primary' %></a>
                    <a data-action="slideshow#next"><%= f.submit '5', :class => 'btn-primary' %></a>
                  </div>
                  <% end %>
                </div>

                <div data-target="slideshow.slide" class="slide">
                  <%= clause.questions[1].content %>
                  <%= form_for Answer.new, html: { id: "reportform" }, remote: true, update: { success: "response", failure: "error"} do |f| %>
                  <%= f.hidden_field :user_id, :value => current_user.id  %>
                  <%= f.hidden_field :question_id, :value => clause.questions[1].id  %>
                  <div class="buttonspacing">
                    <a data-action="slideshow#next"><%= f.submit '1', :class => 'btn-primary' %></a>
                    <a data-action="slideshow#next"><%= f.submit '2', :class => 'btn-primary' %></a>
                    <a data-action="slideshow#next"><%= f.submit '3', :class => 'btn-primary' %></a>
                    <a data-action="slideshow#next"><%= f.submit '4', :class => 'btn-primary' %></a>
                    <a data-action="slideshow#next"><%= f.submit '5', :class => 'btn-primary' %></a>
                  </div>
                  <% end %>
                </div>

                <div data-target="slideshow.slide" class="slide">
                  <%= clause.questions[2].content %>
                  <div class="form-group">
                    <%= form_for Answer.new, html: { id: "reportform" }, remote: true, update: { success: "response", failure: "error"} do |f| %>
                  <%= f.hidden_field :user_id, :value => current_user.id  %>
                  <%= f.hidden_field :question_id, :value => clause.questions[1].id  %>
                  <div class="buttonspacing">
                    <a data-action="slideshow#next"><%= f.submit 'Yes', :class => 'btn-primary' %></a>
                    <a data-action="slideshow#next"><%= f.submit 'No', :class => 'btn-primary' %></a>
                  </div>
                  <%#= f.select(:content, [["Yes"],["No"]], {}, {:multiple => true}) %>
                  <% end %>
                  </div>
                </div>

                <div data-target="slideshow.slide" class="slide">
                  <%= clause.questions[3].content %>
                  <div class="form-group">
                    <%= form_for Answer.new, html: { id: "reportform" }, remote: true, update: { success: "response", failure: "error"} do |f| %>
                    <%= f.hidden_field :user_id, :value => current_user.id  %>
                    <%= f.hidden_field :question_id, :value => clause.questions[1].id  %>
                    <%= f.text_area :content, :class => 'form-control', placeholder: clause.content %>
                    <%= f.submit 'suggest', :class => 'btn-primary' %>
                  <% end %>
                  </div>

                </div>

              </div>
            </div>

          </div>
           <% end %>
        </div>
      </div>
    </div>
      <% end %>
  </div>
</div>


</div>


