<script>
  $(document).ready(function(){
    $('#reportform').on('ajax:success', function(e, data, status, xhr){
      $(console.log("Hello, Stimulus!"));
    }).on('ajax:error',function(e, xhr, status, error){
      $(console.log("Hello, Failed!"));
    });
    $("[data-toggle=popover]").popover({
    });
  });
</script>

<p id="notice"><%= notice %></p>
<div class="container legislationshow" data-controller="legislation">

  <h1 class="display-4 font-"><%= @legislation.capitalized_title %></h1>
  <div class="doc-header">
    <div class="help">
      <a data-html="true" data-toggle="popover" data-trigger="hover" title="¿Cómo funciona?" data-content="<%= render 'howitworks' %>" class="badge badge-warning">Ayuda</a>
      <a href="<%= download_pdf_path %>" class="badge badge-primary text-white" target="_blank">Descargar PDF</a>
    </div>
  </div>

  <div data-controller="slideshow" class='d-flex flex-row'>
    <div class="p-2 filter">
      <h6 class='text-center'>Títulos</h6>
      <ol>
        <% @titles_descriptions.each do |title| %>
          <li>
            <a class='font-12 cursor-link title-link' id="titleLink<%= title['number'] %>" data-action="slideshow#activateSelection slideshow#scrollTop" data-info="<%= title['number'] %>">
              <%= title['description'] %>
            </a>
          </li>
        <% end %>
      </ol>
    </div>
    <div class="p-2 legislation-content">
      <% @titles.each do |title| %>
        <% @articles = title.articles.order(number: :asc) %>
        <% @chapters = title.chapters.order(number: :asc) %>
        <div id="title<%= title.number %>" data-target="slideshow.slide" class="slide title">
          <div class="title-info">
            <h3>Título <%= title.number %>: <%= title.description %></h3>
            <p class='font-12'>Artículos <%= @articles.first.integer %> a <%= @articles.last.integer %> de <%= @articles_count %></p>
          </div>

          <div id="accordion">
            <% @chapters.each do |chapter| %>
              <% @chapter_articles = chapter.articles.order(number: :asc) %>

              <div id="chapter<%= chapter.number %>" class="margin-top-btm-25">
                <% if chapter.new == true %>
                  <h5>Capítulo <button  class='badge badge-info text-white font-12 badge-padding' disabled>NUEVO</button> <%= chapter.description %></h5>
                <% elsif !chapter.number.zero? %>
                  <h5>Capítulo <%= chapter.number %>: <%= chapter.description %></h5>
                <% end %>
              </div>

              <% @chapter_articles.each do |article| %>
                <div class="card">
                  <a class="btn btn-link article" data-toggle="collapse" data-target="#collapse_<%= article.id %>" aria-expanded="true" aria-controls="collapseOne" style="white-space: normal;">
                    <div class="card-header" id='headingOne'>
                      <div id="supporting-content">
                        <% if !article.changed? %>
                          <div class="success-badges row">
                            <div class='col-xs-12 col-md-6 padding-left-0'>
                              <h6 class='align-left margin-btm-25'>Artículo <%= article.integer %> <strong>(actual)</strong></h6>
                              <%= render 'article_show', article: article %>
                            </div>
                            <div class='col-xs-12 col-md-6 padding-left-0'>
                              <p class='font-12'>
                                <button type='button' class='badge badge-danger text-white badge-padding align-left'>MODIFICACIÓN PROPUESTA</button>
                              </p>
                              <%= render 'metadata_show', metadata: article.metadata.first %>
                            </div>
                          </div>
                        <% elsif article.new == true %>
                          <div class="flex flex-row success-badges padding-left-0">
                            <h6 class="p-2">Artículo   <button class='badge badge-info text-white badge-padding' disabled>NUEVO</button></h6>
                          </div>
                          <%= render 'article_show', article: article %>
                        <% else %>
                          <div class="success-badges padding-left-0">
                            <h6 class="align-left padding-left-0">Artículo <%= article.integer %></h6>
                          </div>
                          <%= render 'article_show', article: article %>
                        <% end %>
                    </div> <!-- most likely closing .card-header -->
                  </a> <!-- closes question space. helps reduce space around questions being asked  -->
                </div>

            <div id="collapse_<%= article.id %>" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body" data-controller="slideshow">
                <% @questions = article.questions %>
                <% @question1 = @questions.find_by(number: 1) %>
                <% @question2 = @questions.find_by(number: 2) %>
                <% @question3 = @questions.find_by(number: 3) %>

                <% unless @question1.answers.exists?(consultation: @consultation) %>
                  <div data-target="slideshow.slide" class="slide">
                    <p class='medium-font'><%=  @question1.content %></p>
                    <p style="font-size: 12px">(1 = no me gusta en absoluto, 5 = estoy absolutamente de acuerdo)</p>
                    <%= render 'form_question1', article: article, answer: @answer, consultation: @consultation, question: @question1 %>
                  </div>
                <% end %>

                <% unless @question2.answers.exists?(consultation: @consultation) %>
                  <div data-target="slideshow.slide" class="slide">
                    <p class='medium-font'><%= @question2.content %></p>
                    <p style="font-size: 12px">(1 = no me gusta en absoluto, 5 = estoy absolutamente de acuerdo)</p>
                    <%= render 'form_question2', article: article, answer: @answer, consultation: @consultation, question: @question2 %>
                  </div>
                <% end %>

                <% unless @question3.answers.exists?(consultation: @consultation) %>
                  <div data-target="slideshow.slide" class="slide">
                    <p class='medium-font'>¿Quisieras sugerir algún comentario sobre el artículo?</p>
                    <div class=" form-group buttonspacing">
                      <button data-action="slideshow#next" class="btn-primary text-white">Sí</button>
                      <button data-action="slideshow#close" class="btn-primary text-white">No</button>
                    </div>
                  </div>
                  <div data-target="slideshow.slide" class="slide">
                    <p class="medium-font"><%= @question3.content %></p>
                      <%= render 'form_question3', article: article, answer: @answer, consultation: @consultation, question: @question3 %>
                  </div>
                <% else %>
                  <p class="bold-font">Ya respondiste todas las preguntas. Gracias por tu colaboración!</p>
                <% end %>
            </a>
          </div>
        </div> <!-- seems extra -->
    </div>
    <% end %>
    <% end %> <!-- chapter loop ends -->
  </div>
</div>
<% end %>

<div class="finished row flex space-evenly">
  <button id="continueto" media="(max-width: 800px)" style='display: none' class="btn btn-primary text-white" data-action="slideshow#next slideshow#scrolltop slideshow#showFinished">continúa</button>
  <button id="prevbutton" media="(max-width: 800px)" style="display: none" class="btn btn-primary text-white margin-btm-25" data-action="slideshow#previous slideshow#scrolltop slideshow#showFinished">título anterior</button>
  <button id="nextbutton" media="(max-width: 800px)" class="btn btn-primary text-white" data-action="slideshow#next slideshow#scrolltop slideshow#showFinished">próximo título</button>
  <%= link_to "terminar la consulta", new_consultation_general_feedback_path(@consultation), class: 'btn btn-primary text-white' %>
</div>
</div>
