<script>
  $(document).ready(function(){
    $('#reportform').on('ajax:success', function(e, data, status, xhr){
      $(console.log("Hello, Stimulus!"));
    }).on('ajax:error',function(e, xhr, status, error){
      $(console.log("Hello, Failed!"));
    });
    $("[data-toggle=popover]").popover({
      trigger: 'focus'
    });
  });
</script>


<p id="notice"><%= notice %></p>
<div class="container legislationshow" data-controller="legislation">

  <h1 class="display-4 font-"><%= @legislation.capitalized_title %></h1>
  <div class="doc-header">
    <div class="help">
      <a data-html="true" data-toggle="popover" data-trigger="hover" title="¿Cómo funciona?" data-content="<%= render 'howitworks' %>" class="badge badge-warning">Ayuda</a>
      <a href="../download_pdf" class="badge badge-primary" target="_blank">Descargar PDF</a>
    </div>
  </div>


  <div data-controller="slideshow">
    <% @legislation.titles.order(number: :asc).each do |title| %>
    <div id="title<%= title.number %>" data-target="slideshow.slide" class="slide">

      <div class="title-info">
        <p>Artículos <%= title.articles.first.integer %> a <%= title.articles.last.integer %> de <%= Article.all.count %></p>
        <h3>Título <%= title.number %>: <%= title.capitalized_title %></h3>
      </div>

      <div id="accordion">
        <% title.chapters.order(number: :asc).each do |chapter| %>
        <% if chapter.number != 0 %>
          <div id="chapter<%= chapter.number %>" class="margin-top-btm-25">
            <h5>Capítulo <%= chapter.number %>: <%= chapter.description %></h5>
          </div>
        <% end %>
        <% chapter.articles.order(number: :asc).each do |article| %>

        <div class="card">
          <a class="btn btn-link article" data-toggle="collapse" data-target="#collapse_<%= article.id %>" aria-expanded="true" aria-controls="collapseOne" style="white-space: normal;">
           <div class="card-header" id="headingOne">
            <div id="supporting-content">
              <% if Metadatum.exists?(article: article) %>
              <div class="flex flex-row success-badges">
                <h6 class="align-left p-2">Artículo <%= article.integer %></h6>

                  <p class='font-12 p-2'><button type='button' data-html="true" data-toggle="popover" data-trigger="hover" title="Artículo Modificado" class='badge badge-danger text-white popover-body' data-content="<%= render 'metadata_show', metadata: Metadatum.find_by(article: article) %>" data-boundary='scrollParent'>VER MODIFICADO</button></p>
                </p>
              </div>
              <% else %>
                <% if article.new == true %>
                  <div class="flex flex-row success-badges">
                    <h6 class="align-left p-2">Artículo</h6>
                    <p class="p-2" style='font-size: 12px;'><button  class='badge badge-info text-white font-12 badge-padding' disabled>NUEVO</button></p>
                  </div>
                <% else %>
                  <div class="success-badges">
                    <h6 class="align-left">Artículo <%= article.integer %></h6>
                  </div>
                <% end %>
              <% end %>
            </div>

            <p class="align-left"><%= raw article.spaced_content %></p>

            <% if article.subarticles.exists? %>
                  <ol>
              <% article.subarticles.select{ |sa| sa.number < 2000 }.sort_by{ |sa| sa.number }.each do |subarticle|  %>
                <%# if subarticle.number < 2000 %>
                    <li>
                      <p class='align-left'><%= raw subarticle.spaced_content %></p>
                      <% if subarticle.subsubarticles.exists? %>
                        <ol type='a'>
                          <% subarticle.subsubarticles.order(number: :asc).each do |subsubarticle| %>
                            <li>
                              <p class='align-left'><%= raw subsubarticle.spaced_content %></p>
                            </li>
                          <% end %>
                        </ol>
                      <% end %>
                    </li>
            <% end %>
                  </ol>
                <%# else %>
              <%# end %>
            <% article.subarticles.select{ |sa| sa.number >= 2000 }.sort_by{ |sa| sa.number }.each do |subarticle|  %>
              <p class='align-left'><%= raw subarticle.spaced_content %></p>
            <% end %>
            <% end %>
          </a>
        </a>
      </div>

      <!-- </div> -->

      <div id="collapse_<%= article.id %>" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body" data-controller="slideshow">
          <% unless article.questions.find_by(number: 1).answers.exists?(consultation: current_user.consultations.last) %>
          <div data-target="slideshow.slide" class="slide">
            <p class='medium-font'><%= article.questions.find_by(number: 1).content %></p>
            <p style="font-size: 12px">(1 = no me gusta en absoluto, 5 = estoy absolutamente de acuerdo)</p>
            <%= form_for @answer, html: { id: "reportform" }, remote: true, update: { success: "response", failure: "error"}, method: :post do |f| %>
            <%= f.hidden_field :user_id, :value => current_user.id  %>
            <%= f.hidden_field :question_id, :value => article.questions.find_by(number: 1).id  %>
            <%= f.hidden_field :consultation_id, :value => @consultation.id  %>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <div class="buttonspacing">
              <a data-action="slideshow#next">
                <%= f.submit '1', name: "content", class: 'btn-primary' %>
              </a>
              <a data-action="slideshow#next">
                <%= f.submit '2', name: "content", class: 'btn-primary' %>
              </a>
              <a data-action="slideshow#next">
                <%= f.submit '3', name: "content", class: 'btn-primary' %>
              </a>
              <a data-action="slideshow#next">
                <%= f.submit '4', name: "content", class: 'btn-primary' %>
              </a>
              <a data-action="slideshow#next">
                <%= f.submit '5', name: "content", class: 'btn-primary' %>
              </a>
            </div>
            <% end %>
          </div>
          <% end %>

          <% unless article.questions.find_by(number: 2).answers.exists?(consultation: current_user.consultations.last) %>
          <div data-target="slideshow.slide" class="slide">
            <p class='medium-font'><%= article.questions.find_by(number: 2).content %></p>
            <%= form_for @answer, html: { id: "reportform" }, remote: true, update: { success: "response", failure: "error"} do |f| %>
            <%= f.hidden_field :user_id, :value => current_user.id  %>
            <%= f.hidden_field :question_id, :value => article.questions.find_by(number: 2).id  %>
            <%= f.hidden_field :consultation_id, :value => @consultation.id  %>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <div class="buttonspacing">
              <a data-action="slideshow#next slideshow#answered">
                <%= f.submit 'SÍ', name: "content", class: 'btn-primary' %>
              </a>
              <a data-action="slideshow#next slideshow#answered">
                <%= f.submit 'NO', name: "content", class: 'btn-primary' %>
              </a>
            </div>
            <% end %>
          </div>
          <% end %>

          <% unless article.questions.find_by(number: 3).answers.exists?(consultation: current_user.consultations.last) %>
          <div data-target="slideshow.slide" class="slide">
            <p class='medium-font'>¿Quisieras sugerir algún comentario sobre el artículo?</p>
            <div class=" form-group buttonspacing">
              <button data-action="slideshow#next" class="btn-primary">Sí</button>
              <button data-action="slideshow#close" class="btn-primary">No</button>
            </div>
          </div>

          <div data-target="slideshow.slide" class="slide">
            <p class="medium-font"><%= article.questions.find_by(number: 3).content %></p>
            <%= form_for Answer.new, html: { id: "reportform" }, remote: true, update: { success: "response", failure: "error"} do |f| %>
            <div class="form-group">
              <%= f.hidden_field :user_id, :value => current_user.id  %>
              <%= f.hidden_field :question_id, :value => article.questions.find_by(number: 3).id  %>
              <%= f.hidden_field :consultation_id, :value => @consultation.id  %>
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <%= f.text_area :content, :name => "content", required: true, :class => 'form-control', placeholder: "Me parece que este artículo es bueno/malo porque .... Esto se podría arreglar agregando/quitando ...." %>
              <a data-action="slideshow#close slideshow#revised slideshow#next">
                <%= f.submit 'sugiere tu revisión', :class => 'btn-primary' %>
              </a>
            </div>
            <% end %>
          </div>
          <% end %>

        </a>

      </div>
    </div>

  </div>


  <%# end %>
  <% end %>
  <% end %> <!-- chapter loop ends -->
</div>

</div>
<% end %>

<div class="finished row">
  <button id="continueto" style='display: none' class="btn btn-primary" data-action="slideshow#next slideshow#scrolltop slideshow#showFinished">continúa</button>
  <button id="prevbutton" style="display: none" class="btn btn-primary margin-right-10" data-action="slideshow#previous slideshow#scrolltop slideshow#showFinished">título anterior</button>
  <button id="nextbutton" class="btn btn-primary" data-action="slideshow#next slideshow#scrolltop slideshow#showFinished">próximo título</button>
  <%= link_to "terminar la consulta", new_consultation_general_feedback_path(@consultation), id: 'finished', class: 'btn btn-primary', style: 'text-decoration: none; display: none' %>
</div>

</div>
