<script>
  $(document).ready(function(){
    $('#reportform').on('ajax:success', function(e, data, status, xhr){
      $(console.log("Hello, Stimulus!"));
    }).on('ajax:error',function(e, xhr, status, error){
      $(console.log("Hello, Failed!"));
    });
  });
</script>

<p id="notice"><%= notice %></p>
<div class="container" data-controller="legislation">

  <h1><%#= @legislation.title %></h1>

    <div id="toc" class="">
      <h3>table of contents</h3>
      <ul>
        <% @legislation.sections.each do |section| %>
        <li>
          <a data-action="click->legislation#showSection"><%= section.title %></a>
        </li>
        <% end %>
      </ul>
    </div>

    <div class="consultation-box">
     <div id="document" class="scrollable"">
      <div id="active_section">
          <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <a class="btn btn-link" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne" style="white-space: normal;">
                  <%= @legislation.sections[0].clauses[0].content %>
                </a>
              </h5>
            </div>
      </div>
        <% @legislation.sections.each do |section| %>

        <div id="<%= section.title %>" style="display: none;">
          <h3><%= section.title %></h3>

          <div id="accordion">
            <% section.clauses.each do |clause| %>
            <div class="card">

             <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <a class="btn btn-link" data-toggle="collapse" data-target="#collapse_<%= clause.id %>" aria-expanded="true" aria-controls="collapseOne" style="white-space: normal;">
                  <%= clause.content %>
                </a>
              </h5>
            </div>



            <div id="collapse_<%= clause.id %>" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body" data-controller="slideshow">

                <div data-target="slideshow.slide" class="slide">
                  <%= clause.questions[0].content %>
                  <%= form_for Answer.new, html: { id: "reportform" }, remote: true, update: { success: "response", failure: "error"} do |f| %>
                  <%= f.hidden_field :user_id, :value => current_user.id  %>
                  <%= f.hidden_field :question_id, :value => clause.questions[0].id  %>
                  <div class="buttonspacing">
                    <a data-action="slideshow#next"><%= f.submit '1', :class => 'btn-primary' %></a>
                    <a data-action="slideshow#next"><%= f.submit '2', :class => 'btn-primary' %></a>
                    <a data-action="slideshow#next"><%= f.submit '3', :class => 'btn-primary' %></a>
                    <a data-action="slideshow#next"><%= f.submit '4', :class => 'btn-primary' %></a>
                    <a data-action="slideshow#next"><%= f.submit '5', :class => 'btn-primary' %></a>
                  </div>
                  <% end %>
                </div>

                <div data-target="slideshow.slide" class="slide">
                  <%= clause.questions[1].content %>
                  <%= form_for Answer.new, html: { id: "reportform" }, remote: true, update: { success: "response", failure: "error"} do |f| %>
                  <%= f.hidden_field :user_id, :value => current_user.id  %>
                  <%= f.hidden_field :question_id, :value => clause.questions[1].id  %>
                  <div class="buttonspacing">
                    <a data-action="slideshow#next"><%= f.submit '1', :class => 'btn-primary' %></a>
                    <a data-action="slideshow#next"><%= f.submit '2', :class => 'btn-primary' %></a>
                    <a data-action="slideshow#next"><%= f.submit '3', :class => 'btn-primary' %></a>
                    <a data-action="slideshow#next"><%= f.submit '4', :class => 'btn-primary' %></a>
                    <a data-action="slideshow#next"><%= f.submit '5', :class => 'btn-primary' %></a>
                  </div>
                  <% end %>
                </div>

                <div data-target="slideshow.slide" class="slide">
                  <%= clause.questions[2].content %>
                  <div class="form-group">
                    <%= form_for Answer.new, html: { id: "reportform" }, remote: true, update: { success: "response", failure: "error"} do |f| %>
                  <%= f.hidden_field :user_id, :value => current_user.id  %>
                  <%= f.hidden_field :question_id, :value => clause.questions[1].id  %>
                  <div class="buttonspacing">
                    <a data-action="slideshow#next"><%= f.submit 'Yes', :class => 'btn-primary' %></a>
                    <a data-action="slideshow#next"><%= f.submit 'No', :class => 'btn-primary' %></a>
                  </div>
                  <%#= f.select(:content, [["Yes"],["No"]], {}, {:multiple => true}) %>
                  <% end %>
                  </div>
                </div>

                <div data-target="slideshow.slide" class="slide">
                  <%= clause.questions[3].content %>
                  <div class="form-group">
                    <%= form_for Answer.new, html: { id: "reportform" }, remote: true, update: { success: "response", failure: "error"} do |f| %>
                    <%= f.hidden_field :user_id, :value => current_user.id  %>
                    <%= f.hidden_field :question_id, :value => clause.questions[1].id  %>
                    <%= f.text_area :content, :class => 'form-control', placeholder: clause.content %>
                    <%= f.submit 'suggest', :class => 'btn-primary' %>
                  <% end %>
                  </div>

                </div>

              </div>
            </div>

          </div>
           <% end %>
        </div>
      </div>
      <% end %>

  </div>
</div>

<%= link_to "i'm finished", legislation_consultation_path(@legislation), :class => 'btn btn-primary btn-lg' %>

</div>

