<p id="notice"><%= notice %></p>
<div class="container" data-controller="legislation">

  <h1><%#= @legislation.title %></h1>
  <div class="row">

    <div id="toc" class="col-lg-4">
      <h3>table of contents</h3>
        <ul>
          <% @legislation.sections.each do |section| %>
            <li>
              <a data-action="click->legislation#showSection"><%= section.title %></a>
            </li>
          <% end %>
        </ul>
    </div>

  <div class="consultation-box">
     <div id="document" class="col-lg-8 scrollable" data-controller="legislation">
      <%= @legislation.sections[0].title %>
      <div id="active_section">

      <% @legislation.sections.each do |section| %>
        <div id="<%= section.title %>" style="display: none;">
          <h3><%= section.title %></h3>

          <% section.clauses.each do |clause| %>
              <button data-action="click->legislation#toggleQuestion">
                <%= clause.content %>
              </button>
            <p>
              <div id="questions" style="display: none;">
              <% clause.questions.each do |question| %>
                <%= question.id %> - <%= question.content %>
                  <%= form_for :answer do |f| %>
                    <p><%= f.select(:content, [["Yes"],["No"]], {}, {:multiple => true}) %></p>
                  <%= f.submit %>
                  <%= link_to 'skip' %>
                  <% end %>
                <% end %>
              </div>
            </p>
          <% end %>
      <% end %>

      </div>
      </div>
    </div>
  </div>

  <div class="section-store">

  </div>

  </div>
      <div id="">
     <div class="container">
      <%#= render 'consultation_panel' %>
      <%= link_to "I'm Finished", legislation_consultation_path(@legislation), :class => 'btn-treehouse' %>
      </div>
    </div>
</div>

<script>
  $(document).ready(function(){
    $('#reportform').on('ajax:success', function(e, data, status, xhr){
      $(console.log("Hello, Stimulus!"));
    }).on('ajax:error',function(e, xhr, status, error){
      $(console.log("Hello, Failed!"));
    });
  });
</script>

<div class="container">
  <div id="accordion">

  <% @legislation.sections[0].clauses.each do |clause| %>
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <a class="btn btn-link" data-toggle="collapse" data-target="#collapse_<%= clause.id %>" aria-expanded="true" aria-controls="collapseOne" style="white-space: normal;">
          <%= clause.content %>
        </a>
      </h5>
    </div>

    <div id="collapse_<%= clause.id %>" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <%= clause.questions[0].content %>
        <%= form_for :answer, html: { id: "reportform" }, remote: true, update:
          { success: "response", failure: "error"} do |f| %>
          <p><%= f.select(:content, [["Yes"],["No"]], {}, {:multiple => true}) %></p>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>

  </div>

  </div>



</div>


<!-- event.preventDefault()
 -->

<%#= link_to 'Edit', edit_legislation_path(@legislation) %>
<%#= link_to 'Back', legislations_path %>


