<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">

    <div id="toc" class="col-lg-3">
      <h3>table of contents</h3>
        <ul>
          <% @legislation.sections.each do |section| %>
            <li>
              <%= section.title %>
            </li>
          <% end %>
        </ul>
    </div>

    <div id="document" class="col-lg-6 scrollable" data-controller="legislation">
      <h1><%= @legislation.title %></h1>
      <% @legislation.sections.each do |section| %>
        <h3><%= section.title %></h3>
          <% section.clauses.each do |clause| %>
            <p>
              <%= clause.content %>
              <%#=  link_to clause.content, {}, :onclick => 'alert("this should toggle the question box")' %>

              <div id="questions" data-controller="slideshow">
              <% clause.questions.each do |question| %>
                <div data-target="slideshow.slide" class="slide">
                  <%= question.id %> - <%= question.content %>
                </div>
                  <%= form_for :answer do |f| %>
                    <button data-action="slideshow#yes">
                      <%= f.select(:content, [["Yes"]], {}, {:multiple => true}) %>
                    </button>
                    <button data-action="slideshow#no">
                      <%= f.select(:content, [["No"]], {}, {:multiple => true}) %>
                    </button>
                    <button data-action="slideshow#no">
                      <%= link_to 'skip' %>
                    </button>
                    <%= f.submit %>
                  <% end %>
                <% end %>
              </div>
            </p>
          <% end %>
      <% end %>
    </div>

    <div id="consultation_panel" class="col-lg-3">
     <div class="container">
      <%#= render 'consultation_panel' %>
      <%= link_to "I'm Finished", legislation_consultation_path(@legislation), :class => 'btn-treehouse im-finished' %>
      </div>
    </div>



  </div>
</div>


<%#= link_to 'Edit', edit_legislation_path(@legislation) %>
<%#= link_to 'Back', legislations_path %>
