<p id="notice"><%= notice %></p>
<div class="container" data-controller="legislation">

  <h1><%#= @legislation.title %></h1>
  <div class="row">

    <div id="toc" class="col-lg-4">
      <h3>table of contents</h3>
        <ul>
          <% @legislation.sections.each do |section| %>
            <li>
              <a data-action="click->legislation#showSection"><%= section.title %></a>
            </li>
          <% end %>
        </ul>
    </div>

  <div class="consultation-box">
     <div id="document" class="col-lg-8 scrollable" data-controller="legislation">
      <%= @legislation.sections[0].title %>
      <div id="active_section">

      <% @legislation.sections.each do |section| %>
        <div id="<%= section.title %>" style="display: none;">
          <h3><%= section.title %></h3>
          <% section.clauses.each do |clause| %>
              <button data-action="click->legislation#toggleQuestion">
                <%= clause.content %>
              </button>
            <p>
              <div id="questions" style="display: none;">
              <% clause.questions.each do |question| %>
                <%= question.id %> - <%= question.content %>
                  <%= form_with :answer do |f| %>
                    <p><%= f.select(:content, [["Yes"],["No"]], {}, {:multiple => true}) %></p>
                  <%= f.submit %>
                  <%= link_to 'skip' %>
                  <% end %>
                <% end %>
              </div>
            </p>
          <% end %>
      <% end %>

      </div>
      </div>
    </div>
  </div>

  <div class="section-store">

  </div>

  </div>
      <div id="">
     <div class="container">
      <%#= render 'consultation_panel' %>
      <%= link_to "I'm Finished", legislation_consultation_path(@legislation), :class => 'btn-treehouse' %>
      </div>
    </div>
</div>

<!-- breadcrumbs -->
<!-- event.preventDefault() -->

<%#= link_to 'Edit', edit_legislation_path(@legislation) %>
<%#= link_to 'Back', legislations_path %>

<!-- <div class="btn-group">
  <button type="button" class="btn btn-danger">section title</button>
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
  <ul class="dropdown-menu">

    <li>Introduction</li>
    <li role="separator" class="divider"></li>
    <% @legislation.sections.each do |section| %>
      <li><a href=""><%= section.title %></a></li>
    <% end %>
    <li role="separator" class="divider"></li>
    <li><a href="#">Full Document</a></li>
  </ul>
</div> -->
