<p id="notice"><%= notice %></p>
<div class="container">
  <!-- <div class="row"> -->

<!--     <div id="toc" class="col-lg-3 hidden-xs hidden-sm">
      <h3>table of contents</h3>
        <ul>
          <% @legislation.sections.each do |section| %>
            <li>
              <%= section.title %>
            </li>
          <% end %>
        </ul>
    </div> -->
    <!-- On a mobile view -->

    <div class="btn-group hidden-md hidden-lg">
      <button type="button" class="btn btn-primary">section name</button>
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <% @legislation.sections.each do |section| %>
        <li>
          <%= section.title %>
        </li>
        <% end %>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>

    <div id="document" class="col-lg-8 scrollable col-sm-offset-2" data-controller="legislation">
      <h1><%= @legislation.title %></h1>
      <% @legislation.sections.each do |section| %>
        <h3><%= section.title %></h3>
          <% section.clauses.each do |clause| %>
            <p>
              <button data-action="click->legislation#toggleQuestion"><%= clause.content %></button>
              <div id="questions" style="display: none;">
              <% clause.questions.each do |question| %>
                <%= question.id %> - <%= question.content %>
                  <%= form_for :answer do |f| %>
                    <p><%= f.select(:content, [["Yes"],["No"]], {}, {:multiple => true}) %></p>
                    <%= f.submit %>
                    <%= link_to 'skip' %>
                  <% end %>
                <% end %>
              </div>
            </p>
          <% end %>
      <% end %>
    </div>

    <div id="consultation_panel" class="">
     <div class="container">
      <%#= render 'consultation_panel' %>
      <%= link_to "I'm Finished", legislation_consultation_path(@legislation), :class => 'btn-treehouse im-finished' %>
      </div>
    </div>

    <!-- </div> -->
  </div>

<%#= link_to 'Edit', edit_legislation_path(@legislation) %>
<%#= link_to 'Back', legislations_path %>
