<div class="login_form">
  <div class="login-form-header">
    <h6 class='text-center'>Regístrate para empezar</h6>
  </div>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.input :first_name, label: "Nombre:  ", required: true, autofocus: true, placeholder: 'Juan', class: 'align-left bold-font signup-input' %>
    <%= f.input :last_name, label: "Apellido:  ", required: true, placeholder: 'Perez', class: 'bold-font' %>
    <%= f.input :email, label: 'email:  ', required: true, autofocus: true, placeholder: "juan.perez@email.com", class: "signup-input bold-font" %>
    <%= f.input :password, label: 'Contraseña:  ', required: true, placeholder: "Mínimo 6 caracteres", class: 'signup-input bold-font' %>
    <%= f.input :password_confirmation, label: 'Confirma tu contraseña:  ', required: true, class: 'signup-input bold-font' %>
  <br>
    <%= f.button :submit, "regístrate", class: "btn-lg btn-login-custom form-control signup-input"  %>
  <% end %>
  </div>
</div>
